* { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family: 'Rock Salt', cursive;
}

body {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container h2 {
    height: 120px;
    font-size: 55px;
    color: white;
}

.status-action {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: white;
}

.game-grid {
    background: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.game-cell {
    width: 150px;
    height: 150px;
    background: cornflowerblue;
    cursor: pointer;
}





