* { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    /*font-family: 'Rock Salt', cursive;*/
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    text-align: center;

}

.container h2 {
    height: 120px;
    font-size: 3em;
    color: white;
}

.status-action {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: white;
}

.game-grid {
    background: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.game-cell {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    cursor: pointer;
}

.label {
    font-size: 25pt;
    color: white;
}

#start, .reset {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.status {
    border: 1px solid whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

::placeholder {
    font-size: 14pt;
}

.x, .o {
    cursor: default;
}

.x::after {
   content: 'x';
   font-size: 100px;
}

.o::after {
   content: 'o';
   font-size: 100px;
   color: whitesmoke;
}

span {
    color: whitesmoke;
}

.won {
    color: green;
}

#game {
    display: none;
}

#game.visible {
    display: block;
    animation: fade-slide-in 3s ease-out forwards;
}

#players {
    display: block;
    animation: fade-slide-in 3s ease-out forwards;
}

#players.invisible {
    display: none;
}


